body {
    background-color: black;
    color: white;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 600px;
}
h2 {
    padding-bottom: 20px;
}

.resultsbutton {    
    height:  20px;
    width:  20px;
    border-radius: 100%;
    background-color: grey; 
}
.colorpickersection {
    padding: 0; 
    width: 100px;     
    float: left;
    display: block; 
    border: 2px solid white;    
}
.colorpickersection p {
    margin-left: auto;
    margin-right: auto;
}

.colorpickerlist {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.colorpicker {
    border-radius: 100%;
    height: 80px;
    width: 80px;    
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}

.guessArea {
    margin-left: 120px;
}

#submittedGuess {
    margin-bottom: 20px;
}

#resultsLabel {
    margin-left: 20px;
}

.guesses {    
    z-index: 15;    
    width: 650px;
    /*height: 400px;*/        
    display: block;
    /*padding: 0;*/
    list-style-type: none;
}
.guesses tr {
    padding-left: 120px;
}
.guess {
    border-radius: 100%;
    height: 80px;
    width: 80px;    
    padding: 0;
    background-color: gray;
}

.redbutton {
    color: red;
    background-color: red;
}
.bluebutton {
    background-color: blue;
}
.greenbutton {
    background-color: green;
}
.yellowbutton {
    background-color: yellow; 
}
.orangebutton {
    background-color: orange; 
}
.purplebutton {
    background-color: purple; 
}
.blackresultbutton {
    background-color: black; 
}
.whiteresultbutton {
    background-color: white; 
}